Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

fix typo
  docs/user-guide/RLHF.rst
Labels: documentation

fix typo (#118)
  docs/user-guide/RLHF.rst
Labels: documentation

change value loss
  nemo_aligner/utils/deep_search/forward_only.py
Labels: none

add sigmoid
  nemo_aligner/utils/deep_search/forward_only.py
Labels: none

fix value head
  nemo_aligner/utils/deep_search/forward_only.py
Labels: none

use database backend
  examples/nlp/gpt/mcts_generic_search_worker.py
  examples/nlp/gpt/mcts_search_worker.py
  tasks.py
Labels: none

print out wrong ids
  examples/nlp/gpt/grouping.py
  examples/nlp/gpt/mcts_generic_search_worker.py
Labels: none

put datafile at a better place
  examples/nlp/gpt/mt_benchmark_client.py
Labels: none

add config for backend
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_generic_search_worker.py
  examples/nlp/gpt/mcts_search_worker.py
  examples/nlp/gpt/mt_benchmark_client.py
  examples/nlp/gpt/start_search.py
  tasks.py
Labels: none

collect rambling generation data
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/termination_condition.py
Labels: none

Dev (#116)
  CHANGELOG.md
  Dockerfile
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/package_info.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

more efficient mt-response
  examples/nlp/gpt/mt_benchmark_client.py
Labels: none

fix format
  examples/nlp/gpt/mt_benchmark_client.py
Labels: none

Added official documentation
  docs/user-guide/SPIN.rst
  docs/user-guide/index.rst
  examples/nlp/gpt/conf/gpt_spin.yaml
  nemo_aligner/algorithms/spin.py
  nemo_aligner/data/nlp/builders.py
Labels: Algorithms, documentation

Updates from PR review
  docs/user-guide/SPIN.rst
  nemo_aligner/algorithms/spin.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils, documentation

fix loading cache
  examples/nlp/gpt/mt_benchmark_client.py
Labels: none

use p as value
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_generic_search_worker.py
  examples/nlp/gpt/mcts_search_worker.py
  examples/nlp/gpt/serve_gpt_infer.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/run.py
Labels: none

Added basic KL scheduler keyed off iteration number
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

Moved KL scheduler to different area
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

Updated KL schedule for PR review
  examples/nlp/gpt/conf/gpt_spin.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: none

fix dpo val check interval
  nemo_aligner/algorithms/dpo.py
Labels: Algorithms

fixup! fix dpo val check interval
  nemo_aligner/algorithms/dpo.py
Labels: Algorithms

update CHANGELOG
  CHANGELOG.md
Labels: none

fix dpo val check interval (#120)
  CHANGELOG.md
  nemo_aligner/algorithms/dpo.py
Labels: Algorithms

add mbs support
  examples/nlp/gpt/conf/gpt_ppo_critic.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

Updated get_gpt_module_list to get_model_module_list for SPIN
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: none

Added nondivisible batch support on critic
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/distributed.py
Labels: Utils

handle generic exception
  examples/nlp/gpt/start_search.py
Labels: none

Added fix for MLM 0.5.0
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: none

SPIN Algorithm (#108)
  CHANGELOG.md
  docs/user-guide/SPIN.rst
  docs/user-guide/index.rst
  examples/nlp/gpt/conf/gpt_spin.yaml
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils, documentation

normalized loss
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

fix
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

Restore the shuffling of the validation set
  examples/nlp/gpt/train_gpt_dpo.py
  examples/nlp/gpt/train_gpt_ppo_actor.py
  examples/nlp/gpt/train_gpt_sft.py
  examples/nlp/gpt/train_reward_model.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/samplers.py
Labels: Algorithms

Enforce explictly setting `consumed_samples`
  examples/nlp/gpt/train_gpt_dpo.py
  examples/nlp/gpt/train_gpt_ppo_actor.py
  examples/nlp/gpt/train_gpt_sft.py
  examples/nlp/gpt/train_reward_model.py
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/algorithms/spin.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/samplers.py
  nemo_aligner/utils/trainer_utils.py
Labels: Algorithms, Utils

Update CHANGELOG
  CHANGELOG.md
Labels: none

update
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

first checkpoint
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

working infer
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

fix save cache
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

fix the bug
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none
