Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

fix value consumed sample computation
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fixup! fix scheduler when not supplied
  nemo_aligner/utils/train_script_utils.py
Labels: Utils

edit changelog
  CHANGELOG.md
Labels: none

format
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  tests/test_search_infer.py
Labels: Algorithms

remove none guard with scheduler
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

remove the step
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix scheduler when not supplied (#98)
  CHANGELOG.md
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/utils/train_script_utils.py
Labels: Algorithms, Utils

change to call public str to dtype func (#94)
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

moving _str_to_dtype (#93)
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

fix function name change from nemo (#71)
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

add critic timing
  nemo_aligner/algorithms/critic_server_trainer.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_critic.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/distributed.py
Labels: Algorithms, Utils

fix the optimizer
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/train_utils.py
Labels: Algorithms, Utils

add mbs support
  examples/nlp/gpt/conf/gpt_ppo_critic.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

fix value consumed sample computation
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

remove 0 init in hybrid while training
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
Labels: none

add random sampler
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/samplers.py
Labels: none

change grouping to filter out negatives in policy
  examples/nlp/gpt/grouping.py
Labels: none

no sched
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

update
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

debug
  examples/nlp/gpt/grouping.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

add cache analysis
  examples/nlp/gpt/grouping.py
Labels: none

no cosine lr yet
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

fix scheduler bug
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

run val less often
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

run train eval less often
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix val bug
  examples/nlp/gpt/grouping.py
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix again
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

added creat
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

fix the unittests
  greedy_benchmark.py
  tests/test_search_infer.py
Labels: none

format
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  tests/test_search_infer.py
Labels: Algorithms

fix format
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

run val less often
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix scheduler bug
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

fix the optimizer
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/train_utils.py
Labels: Algorithms, Utils

fix the bug
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

remove the step
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

fix the ghost sche
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/grouping.py
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix bug
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

no cosine lr yet
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none
