Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

train partial
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/train_script_utils.py
Labels: Algorithms, Utils

partial done 2.0
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

change max length default
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

fix
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

fix
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

fix
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/train_script_utils.py
Labels: Algorithms, Utils

apply fix for YiDong's PR comments
  examples/nlp/gpt/conf/gpt_sft.yaml
Labels: none

remove the self-play cache
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

fix style
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

update docs for working conversion script
  docs/user-guide/DPO.rst
  docs/user-guide/SFT.rst
Labels: documentation

hack to get train running
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

remove cache
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

pre hook approach
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: none

fix bug in metric
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix merge problems
  nemo_aligner/utils/deep_search/mcts/run.py
Labels: none

train policy first
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix indent
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

fix indent again
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

decrease 800 to 200
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

fix indent
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

fix checkpointing bug
  examples/nlp/gpt/mcts_search.py
Labels: none

add cache dir arg
  examples/nlp/gpt/grouping.py
Labels: none

add train acc
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

inference
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

Finally fixed reference policy loading on resume
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: none

fix
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix bug
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix the unittests
  greedy_benchmark.py
  tests/test_search_infer.py
Labels: none

fix bug
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

debug
  examples/nlp/gpt/grouping.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

update
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

add cache analysis
  examples/nlp/gpt/grouping.py
Labels: none

remove 0 init in hybrid while training
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
Labels: none

no sched
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

ref policy load now happens under is none check
  examples/nlp/gpt/train_gpt_spin.py
Labels: none

change grouping to filter out negatives in policy
  examples/nlp/gpt/grouping.py
Labels: none

critic ce
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

add random sampler
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/samplers.py
Labels: none

scheduling
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

fix
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*
