Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

enable O2 for lora
  Dockerfile
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

update CHANGELOG.md
  CHANGELOG.md
Labels: none

move peft initialization to train_script_utils.py
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/utils/train_script_utils.py
Labels: Utils

remove check for distributed_fused_adam & move setup_complete to init_peft
  nemo_aligner/utils/train_script_utils.py
Labels: Utils

update Dockerfile
  Dockerfile
Labels: none

no value stem
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
Labels: none

initial batched implementation, TBD testing
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: Algorithms

fix bug
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix bug
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

fix bug
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/utils/train_script_utils.py
Labels: Algorithms, Utils

fix
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/utils/train_script_utils.py
Labels: Utils

fix scheduler when not supplied
  nemo_aligner/utils/train_script_utils.py
Labels: Utils

add more steps
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

run val on first step
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix logging
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

add logging
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

add steerable_attributes in gpt_sft.yaml and add 2 lines in train_gpt_sft to ensure persist into .nemo ckpt
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

fix num correct
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

store values
  examples/nlp/gpt/train_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/termination_condition.py
Labels: none

fix cherry-pick commit id
  Dockerfile
Labels: none

tossing out non-stopping
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
Labels: Algorithms, Utils

SPIN nows loads the actor weights for the reference instead of base model
  examples/nlp/gpt/train_gpt_spin.py
Labels: none

only support single data loader type
  nemo_aligner/data/nlp/builders.py
Labels: none

searcher
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/utils/deep_search/mcts/run.py
  nemo_aligner/utils/distributed.py
Labels: Utils

work
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/utils/distributed.py
Labels: Utils

forgot to push
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

remove pb
  examples/nlp/gpt/mcts_search.py
Labels: none

add terminate barrier
  examples/nlp/gpt/mcts_search.py
Labels: none

fixing strange ( not closed issue
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

Lora for SFT/SteerLM (#97)
  CHANGELOG.md
  Dockerfile
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/train_script_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

save the result
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/train_hybrid_model.py
  greedy_benchmark.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/termination_condition.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

bug fix
  nemo_aligner/utils/utils.py
Labels: Utils

load_from_nemo bug fix (#103)
  nemo_aligner/utils/utils.py
Labels: Utils

fix bug
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

update to inference_service.py to support interactive mode on EOS with more than 1 GPUs
  examples/nlp/cai/inference_service.py
Labels: none

add grouping and sigmoid
  examples/nlp/gpt/grouping.py
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
Labels: none

Potential approach to saving reference policy correctly
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: none

re-use children tree
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

Changed sharded_state_dict to use super instead
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: none
