Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

fix
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

clear kv cache
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

addressing comments and clean ups
  examples/mm/stable_diffusion/conf/draftp_sd.yaml
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/data/mm/text_webdataset.py
  nemo_aligner/models/mm/stable_diffusion/image_text_rms.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: none

update docs to link to conversion scripts
  docs/user-guide/SFT.rst
Labels: documentation

fixup! update docs to link to conversion scripts
  docs/user-guide/SFT.rst
Labels: documentation

fixup! update docs to link to conversion scripts
  docs/user-guide/SFT.rst
Labels: documentation

fixup! update docs to link to conversion scripts
  docs/user-guide/SFT.rst
Labels: documentation

fixup! update docs to link to conversion scripts
  docs/user-guide/SFT.rst
Labels: documentation

update docs to link to conversion scripts (#126)
  docs/user-guide/SFT.rst
Labels: documentation

fix grouping
  examples/nlp/gpt/grouping.py
Labels: none

fix config
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

make more precise
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

address more comments
  examples/mm/stable_diffusion/conf/draftp_sd.yaml
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/models/mm/stable_diffusion/image_text_rms.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
  nemo_aligner/utils/train_script_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

fix
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix training
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

update
  examples/nlp/gpt/grouping.py
Labels: none

fix
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

still norm loss
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

support mistral instruct model
  examples/nlp/gpt/conf/gpt_hybrid_infer.yaml
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/conf/gpt_inference.yaml
  examples/nlp/gpt/mcts_search_worker.py
  examples/nlp/gpt/serve_gpt_infer.py
  examples/nlp/gpt/serve_hybrid_model.py
  greedy_benchmark.py
  mcts_client.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/run.py
  nemo_aligner/utils/deep_search/mcts/termination_condition.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  tests/test_search_infer.py
Labels: none

fixing fwd_bwd OOM
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
  nemo_aligner/utils/utils.py
Labels: Utils

test
  nemo_aligner/utils/trt_llm.py
Labels: Utils

clear kv cache
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

fix
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

fix eval
  examples/nlp/gpt/eval_model.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

fix
  examples/nlp/gpt/eval_model.py
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

sandbox answer check
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

added docs
  docs/user-guide/DRaFTP.rst
Labels: documentation

timing
  nemo_aligner/algorithms/critic_server_trainer.py
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

dummy
  nemo_aligner/algorithms/critic_server_trainer.py
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Added noise logging
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

metrics
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

KTO dataset and trainer class.
  nemo_aligner/algorithms/kto.py
  nemo_aligner/data/nlp/datasets.py
Labels: Algorithms

fix
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/algorithms/critic_server_trainer.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/utils/server_utils.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

instruction search
  examples/nlp/gpt/mcts_search_worker.py
  examples/nlp/gpt/start_search.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/run.py
Labels: none

use dataset
  examples/nlp/gpt/mcts_search_worker.py
  examples/nlp/gpt/start_search.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/run.py
Labels: none

add assert
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

if turn off value, use prior as value
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

rename
  docs/user-guide/DPO.rst
  docs/user-guide/SFT.rst
  docs/user-guide/SPIN.rst
  docs/user-guide/SteerLM.rst
Labels: documentation

rename checkpoint convert scripts (#128)
  docs/user-guide/DPO.rst
  docs/user-guide/SFT.rst
  docs/user-guide/SPIN.rst
  docs/user-guide/SteerLM.rst
Labels: documentation

neft reimplement
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*
