Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

Better comment
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

Fixes from PR review
  examples/nlp/gpt/conf/gpt_spin.yaml
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/algorithms/spin.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

add ce
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

merge
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

fix
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

fix bug
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

use thread pool
  examples/nlp/gpt/mcts_search_worker.py
  tasks.py
Labels: none

added precondition check
  examples/nlp/gpt/start_search.py
Labels: none

first commit
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/data/nlp/builders.py
Labels: none

Update nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/builders.py
Labels: none

fix PR issues
  examples/nlp/gpt/train_gpt_dpo.py
  examples/nlp/gpt/train_gpt_sft.py
  examples/nlp/gpt/train_reward_model.py
  nemo_aligner/data/nlp/builders.py
Labels: none

set prefectch to one
  examples/nlp/gpt/mcts_search_worker.py
  tasks.py
Labels: none

add host name
  examples/nlp/gpt/mcts_search_worker.py
Labels: none

added log for timer
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

resharding PP support
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
Labels: Algorithms, Utils

small fix after github suggestion commit issue
  nemo_aligner/data/nlp/builders.py
Labels: none

update grouping to filter
  examples/nlp/gpt/grouping.py
Labels: none

Fix random sampler keeping state with validation runs (#112)
  examples/nlp/gpt/train_gpt_dpo.py
  examples/nlp/gpt/train_gpt_ppo_actor.py
  examples/nlp/gpt/train_gpt_sft.py
  examples/nlp/gpt/train_reward_model.py
  nemo_aligner/data/nlp/builders.py
Labels: none

moving _str_to_dtype (#93)
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

update dockerfile
  Dockerfile
Labels: none

update to 0.3.0dev
  nemo_aligner/package_info.py
Labels: none

update comment on dockerfile
  Dockerfile
Labels: none

0.2.0 version
  CHANGELOG.md
  nemo_aligner/package_info.py
Labels: none

fix function name change from nemo (#71)
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

change to call public str to dtype func (#94)
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

address CHANGELOG from commit in main
  CHANGELOG.md
Labels: none

fix epoch ordering
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix epoch ordering
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

add sigmoid during search
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

add sigmoid during search
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

conversion script
  examples/nlp/gpt/convert_ckpt_to_nemo.py
Labels: none

Updates for PR review
  examples/nlp/gpt/conf/gpt_spin.yaml
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

Removed some comments
  nemo_aligner/algorithms/spin.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

update single opt
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

add
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

add
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

added generic worker
  examples/nlp/gpt/grouping.py
  examples/nlp/gpt/mcts_generic_search_worker.py
  examples/nlp/gpt/mt_benchmark_client.py
  greedy_benchmark.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/run.py
Labels: none

add eval
  examples/nlp/gpt/eval_model.py
Labels: none

fix
  examples/nlp/gpt/eval_model.py
Labels: none

mt-benchmark through search
  examples/nlp/gpt/mt_benchmark_client.py
Labels: none

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*
