Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

Updated Dockerfile to use MLM core 0.4.0
  Dockerfile
Labels: none

add trtllm support
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/gpt_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/ppo_utils.py
  nemo_aligner/utils/trt_llm.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

dataloader reshard
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/models/nlp/gpt/gpt_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: Algorithms

added my scripts
  examples/nlp/gpt/conf/gpt_ckpt_to_nemo.yaml
  examples/nlp/gpt/conf/gpt_inference.yaml
  examples/nlp/gpt/convert_ckpt_to_nemo.py
  examples/nlp/gpt/serve_gpt_model.py
Labels: none

add NV-Llama2-70B-RLHF link to README
  README.md
Labels: none

fix typo
  README.md
Labels: none

add rlhf model link
  README.md
Labels: none

add rlhf model link
  README.md
Labels: none

add timer impl (#44)
  CHANGELOG.md
  examples/nlp/gpt/train_gpt_dpo.py
  examples/nlp/gpt/train_gpt_ppo_actor.py
  examples/nlp/gpt/train_gpt_sft.py
  examples/nlp/gpt/train_reward_model.py
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/trainer_utils.py
Labels: Algorithms, Utils

add rlhf model link
  README.md
Labels: none

add rlhf model link
  README.md
Labels: none

initial commit: peft for sft
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/train_script_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

init commit: ppo peft
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/utils.py
Labels: Utils

add rlhf model link (#64)
  README.md
Labels: none

overwrite base config attribute
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/conf/gpt_ppo_critic.yaml
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/conf/inference_rm.yaml
  examples/nlp/gpt/conf/training_rm.yaml
  nemo_aligner/utils/utils.py
Labels: Utils

addressing issues in PR #55
  nemo_aligner/utils/utils.py
Labels: Utils

updated CHANGELOG + some other minor fixes
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/conf/gpt_ppo_critic.yaml
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/conf/inference_rm.yaml
  examples/nlp/gpt/conf/training_rm.yaml
Labels: none

Fix and simplify the config overwrite logic
  nemo_aligner/utils/utils.py
Labels: Utils

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Fix instructions to sign commits
  CONTRIBUTING.md
Labels: none

overwrite base config attribute (#55)
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/conf/inference_rm.yaml
  examples/nlp/gpt/conf/training_rm.yaml
  nemo_aligner/utils/utils.py
Labels: Utils

fix bug
  examples/nlp/gpt/convert_ckpt_to_nemo.py
  examples/nlp/gpt/serve_gpt_model.py
Labels: none

Removed dependencies from Aligner pip install
  Dockerfile
Labels: none

Fix instructions to sign commits (#66)
  CONTRIBUTING.md
Labels: none

default o2
  examples/nlp/gpt/conf/gpt_ckpt_to_nemo.yaml
Labels: none

fix config
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

fix config
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

fix config (#67)
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

inference improvement
  examples/nlp/gpt/serve_gpt_infer.py
  nemo_aligner/utils/deep_search/forward_only.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

simplified text gen
  nemo_aligner/utils/deep_search/forward_only.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

front padding
  examples/nlp/gpt/conf/gpt_inference.yaml
  nemo_aligner/utils/deep_search/forward_only.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

remove others
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

fix conversion
  examples/nlp/gpt/convert_ckpt_to_nemo.py
Labels: none

fix missing import
  examples/nlp/gpt/convert_ckpt_to_nemo.py
Labels: none

Adding training script for draft
  examples/mm/draft/train_sd_draft.py
Labels: none

add conf and launcher
  examples/mm/draft/conf/draft_sd_policy.yaml
  examples/mm/draft/script/launch_draft_workstation.sh
Labels: none

working
  examples/nlp/gpt/conf/gpt_inference.yaml
  examples/nlp/gpt/serve_gpt_infer.py
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

all local infer
  examples/nlp/gpt/conf/gpt_inference.yaml
  examples/nlp/gpt/serve_gpt_infer.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

adding checkpointing, grad accumulation, logger and alignable
  examples/mm/draft/conf/draft_sd_policy.yaml
  examples/mm/draft/script/launch_draft_workstation.sh
  examples/mm/draft/train_sd_draft.py
  nemo_aligner/algorithms/draft.py
  nemo_aligner/data/mm/text_webdataset.py
  nemo_aligner/models/mm/draft/alignable_sd_model.py
  nemo_aligner/models/mm/draft/draft_RMs.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

ppo with peft ckpt & full
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/train_gpt_ppo_actor.py
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/train_script_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*
