Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

Update changelog
  CHANGELOG.md
Labels: none

Update nemo_aligner/metrics/__init__.py
  nemo_aligner/metrics/__init__.py
Labels: none

Rephrase the changelog
  CHANGELOG.md
Labels: none

Integrating custom metrics and inference parameters (#82)
  CHANGELOG.md
  Dockerfile
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/metrics/__init__.py
  nemo_aligner/metrics/common.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/train_script_utils.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

cache implemented
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

working
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

Fix computation of response length in the general case
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/text_generation_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

Fix computation of response length in the general case (#19)
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/text_generation_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

Added more SPIN logic
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

increase the cache hit chance
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

depth bug fix
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

need to fix bug
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

remove depth input
  examples/nlp/gpt/serve_gpt_infer.py
  nemo_aligner/utils/deep_search/communication_util.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
  tests/test_search_db.py
  tests/test_search_infer.py
Labels: none

fix a bug
  nemo_aligner/utils/deep_search/search_callables.py
Labels: none

fix bugs
  examples/nlp/gpt/serve_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

max depth
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

dp running
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

dp working
  examples/nlp/gpt/train_hybrid_model.py
Labels: none

Added multi-epoch training capability
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/conf/training_rm.yaml
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/data/nlp/samplers.py
  nemo_aligner/utils/trainer_utils.py
Labels: Algorithms, Utils

Added multi-epoch training capability (#73)
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/conf/training_rm.yaml
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/data/nlp/samplers.py
  nemo_aligner/utils/trainer_utils.py
Labels: Algorithms, Utils

memory efficient fix
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

memory efficient
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

fix infer unit test
  nemo_aligner/utils/deep_search/text_gen_utils.py
  tests/test_search_infer.py
Labels: none

fix all the unit tests
  tests/test_search_db.py
Labels: none

initial train
  .gitignore
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  examples/nlp/gpt/serve_gpt_infer.py
  examples/nlp/gpt/serve_hybrid_model.py
  examples/nlp/gpt/train_hybrid_model.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/communication_util.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/utils.py
  tests/test_search_db.py
  tests/test_search_infer.py
Labels: Algorithms, Utils

add
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

remove debug
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

default
  examples/nlp/gpt/train_hybrid_model.py
Labels: none

remove grad on stem of value network
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
Labels: none

fix function name change from nemo (#71)
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

_str_from_dtype is now a dict and moved locations
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

moving _str_to_dtype (#93)
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

reformat
  examples/nlp/gpt/serve_gpt_infer.py
  examples/nlp/gpt/serve_hybrid_model.py
  examples/nlp/gpt/train_hybrid_model.py
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/communication_util.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/utils.py
  tests/test_search_db.py
  tests/test_search_infer.py
Labels: Utils

remove unused imports
  examples/nlp/gpt/serve_hybrid_model.py
  examples/nlp/gpt/train_hybrid_model.py
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

fix dp
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/train_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

dp working
  examples/nlp/gpt/train_hybrid_model.py
Labels: none

change defaults
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

fix comments
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

reduce log
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

format
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
  tests/test_search_infer.py
Labels: Algorithms

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*
