Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

cleanup alignable class
  examples/mm/stable_diffusion/script/launch_draftp_workstation.sh
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: none

remove redundant variables
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: none

remove confusing files
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/train_hybrid_model.py
Labels: none

save checkpointing
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
  nemo_aligner/utils/utils.py
Labels: Utils

test set hack
  examples/nlp/gpt/mcts_search.py
Labels: none

edit
  examples/nlp/gpt/mcts_search.py
Labels: none

give more time to save
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

fix the random sampler
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/samplers.py
Labels: none

remove uncessary shuffle
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/samplers.py
Labels: none

add end string
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

better metrics
  examples/nlp/gpt/mcts_search.py
Labels: none

remove conflict tags
  examples/nlp/gpt/mcts_search.py
Labels: none

added arg
  examples/nlp/gpt/grouping.py
  examples/nlp/gpt/mcts_search.py
Labels: none

print out total data processed
  examples/nlp/gpt/grouping.py
Labels: none

added debug prints
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

fix cache saving
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/run.py
  nemo_aligner/utils/utils.py
Labels: Utils

generate cai sft dataset
  examples/nlp/cai/CritiqueRevisionInstructions.json
  examples/nlp/cai/conf/inference_service_llama.yaml
  examples/nlp/cai/generate_cai_dataset_mistral_7b_instruct_0_1.py
  examples/nlp/cai/mistral7b_few_shot_samples
Labels: none

fix for inference_service to work in a non-slurm environment
  examples/nlp/cai/inference_service.py
Labels: none

remove super long
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

rebase with main
  examples/mm/stable_diffusion/conf/draftp_sd.yaml
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/data/mm/text_webdataset.py
  nemo_aligner/models/mm/stable_diffusion/image_text_rms.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: none

clean up config from local paths
  examples/mm/stable_diffusion/conf/draftp_sd.yaml
Labels: none

remove redundant import and change var name
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/data/mm/text_webdataset.py
Labels: none

remove redundant import and change var name
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/data/mm/text_webdataset.py
Labels: none

fix cache
  examples/nlp/gpt/mcts_search.py
Labels: none

add dataset support
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

add guard for checkpoint loading
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

fix cache saving
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/run.py
  nemo_aligner/utils/utils.py
Labels: Utils

fix
  examples/nlp/gpt/mcts_search.py
Labels: none

edit
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

address comments
  examples/nlp/gpt/mcts_search.py
Labels: none

remove one line
  examples/nlp/gpt/mcts_search.py
Labels: none

serve hybrid model working
  examples/nlp/gpt/conf/gpt_hybrid_infer.yaml
  examples/nlp/gpt/serve_hybrid_model.py
Labels: none

fix value
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

debug client
  mcts_client.py
Labels: none

use grad reduction from utils
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: none

cleanup code and support trtllm 0.7
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/ppo_utils.py
  nemo_aligner/utils/trt_llm.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

mcts search
  examples/nlp/gpt/mcts_search.py
Labels: none

default turn off value
  mcts_client.py
Labels: none

add more robust search
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

Revert "fix value"
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none
