Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

change max depth
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

remove
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

cleanup and sync with nemo exprot
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
Labels: Algorithms, Utils

remove resharding
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
Labels: Algorithms

fix topp and refactor
  nemo_aligner/utils/trt_llm.py
Labels: Utils

support both templates
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_search.py
  mcts_client.py
Labels: none

clamp tokens
  nemo_aligner/utils/trt_llm.py
Labels: Utils

prompt template cleanup
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_search.py
Labels: none

fix training
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

make pbar more clear
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

update batch size
  examples/nlp/cai/generate_cai_dataset_mistral_7b_instruct_0_1.py
Labels: none

add init changes
  examples/mm/stable_diffusion/launch_dpo_sd.sh
  examples/mm/stable_diffusion/train_sd_dpo.py
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_dpo_model.py
Labels: Algorithms

deep search termination bug
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

add debug
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

fix hang bug
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

working example
  examples/nlp/gpt/mcts_search_worker.py
  tasks.py
Labels: none

working
  examples/nlp/gpt/mcts_search_worker.py
Labels: none

fix bugs
  examples/nlp/gpt/mcts_search_worker.py
Labels: none

fix single opt
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

fix
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

fully working
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_search_worker.py
  examples/nlp/gpt/start_search.py
  tasks.py
Labels: none

use full
  examples/nlp/gpt/start_search.py
Labels: none

fix length
  examples/nlp/gpt/start_search.py
Labels: none

train policy first
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

load from existing works
  examples/nlp/gpt/start_search.py
Labels: none

Adding links to published reward models
  README.md
Labels: none

Adding links to published reward models (#113)
  README.md
Labels: none

flexible url
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_search_worker.py
  tasks.py
Labels: none

Remove unnecessary .cuda calls
  nemo_aligner/models/nlp/gpt/megatron_gpt_critic.py
Labels: none

calling .cuda on tokens before mask construction
  nemo_aligner/models/nlp/gpt/megatron_gpt_critic.py
Labels: none

fix bennmakr
  greedy_benchmark.py
Labels: none

fix grouppoing
  examples/nlp/gpt/grouping.py
Labels: none

calling .cuda on tokens before mask construction (#111)
  nemo_aligner/models/nlp/gpt/megatron_gpt_critic.py
Labels: none

set longer time out time
  examples/nlp/gpt/mcts_search_worker.py
  tasks.py
Labels: none

remove nemo dependence
  examples/nlp/gpt/start_search.py
Labels: none

fix total number of counts
  examples/nlp/gpt/start_search.py
Labels: none

Fixed incorrect saving of ref policy
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
  nemo_aligner/utils/utils.py
Labels: Utils

Added paper to changelog
  CHANGELOG.md
Labels: none

Brought max_time in line with other configs
  examples/nlp/gpt/conf/gpt_spin.yaml
Labels: none

Removed old Nemo references
  examples/nlp/gpt/conf/gpt_spin.yaml
Labels: none
