Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

Lora for SFT/SteerLM (#97)
  CHANGELOG.md
  Dockerfile
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/train_script_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

load_from_nemo bug fix (#103)
  nemo_aligner/utils/utils.py
Labels: Utils

use init_peft
  examples/nlp/gpt/train_gpt_dpo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
Labels: none

change default to full tuning
  examples/nlp/gpt/conf/gpt_dpo.yaml
Labels: none

remove duplicates
  nemo_aligner/utils/train_script_utils.py
Labels: Utils

update CHANGELOG.md
  CHANGELOG.md
Labels: none

address comments
  CHANGELOG.md
  examples/nlp/gpt/train_gpt_dpo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
  nemo_aligner/utils/utils.py
Labels: Utils

Added tool use async pipeline
  examples/nlp/gpt/conf/gpt_ppo_actor_code_ex.yaml
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/tools/code_execution.py
  nemo_aligner/tools/tool_exec.py
  nemo_aligner/utils/trt_llm.py
Labels: Algorithms, Utils

update documentation
  docs/user-guide/DPO.rst
Labels: documentation

cleanup
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/algorithms/critic_server_trainer.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/models/nlp/gpt/gpt_reward_model.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_critic.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/models/nlp/gpt/reward_critic_clients.py
  nemo_aligner/servers/server_callables.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/parallel_state.py
  nemo_aligner/utils/trt_llm.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils, Servers

update
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/utils/trt_llm.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

fix
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/conf/gpt_ppo_critic.yaml
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/utils/parallel_state.py
Labels: Algorithms, Utils

fix bug
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix bug
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

test
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: Algorithms

fix bug
  nemo_aligner/utils/parallel_state.py
Labels: Utils

fix
  nemo_aligner/utils/trt_llm.py
Labels: Utils

added dummy score funn
  examples/nlp/gpt/mcts_generic_search_worker.py
  examples/nlp/gpt/mcts_search_worker.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

add
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/trt_llm.py
Labels: Utils

fix
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Enable LoRA for DPO (#142)
  CHANGELOG.md
  docs/user-guide/DPO.rst
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/train_gpt_dpo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
  nemo_aligner/utils/utils.py
Labels: Utils, documentation

fix again
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix mean
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/utils/distributed.py
Labels: Algorithms, Utils

add debug
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

added corrected value
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

fix
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

add data iter for VP
  nemo_aligner/models/nlp/gpt/megatron_gpt_critic.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

move
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: none

fixing
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: Algorithms

add
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

chunking needs to be moved out
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix metrics
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix dtype
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Fix crash when generating from an SFT model with PP>2
  CHANGELOG.md
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Fix crash when generating from an SFT model with PP>2
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Fix crash when generating from an SFT model with PP>2 (#146)
  CHANGELOG.md
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Allow computing logprobs of SFT model on input strings
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*
