Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

added exception
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

fix
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Added critic piping
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

update eval model
  examples/nlp/gpt/eval_model.py
Labels: none

restore critic
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

address comments
  docs/user-guide/DRaFTP.rst
  docs/user-guide/index.rst
  examples/mm/stable_diffusion/conf/draftp_sd.yaml
  nemo_aligner/data/mm/text_webdataset.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
  nemo_aligner/utils/utils.py
Labels: Utils, documentation

fix
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/reward_critic_clients.py
Labels: Algorithms

add logging
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix critic client
  nemo_aligner/models/nlp/gpt/reward_critic_clients.py
Labels: none

fix
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/reward_critic_clients.py
Labels: Algorithms

fix
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

fix
  nemo_aligner/models/nlp/gpt/reward_critic_clients.py
Labels: none

fix
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

fix
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/reward_critic_clients.py
Labels: Algorithms

fix typo
  nemo_aligner/models/nlp/gpt/reward_critic_clients.py
Labels: none

fix
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

better train timing
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Initial commit of generation truncation fix
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

Updated changelog
  CHANGELOG.md
Labels: none

SPIN bug fix for prompt lengths being greater than generation.max_length (#129)
  CHANGELOG.md
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

remove prints
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

with timing
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/reward_critic_clients.py
  nemo_aligner/utils/distributed.py
Labels: Algorithms, Utils

KTO trainer.
  nemo_aligner/algorithms/kto.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_kto_model.py
Labels: Algorithms

Fixes hang observed at the end of the actor training due to pytriton client
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/servers/http_communicator.py
Labels: Servers

KTO Config.
  examples/nlp/gpt/conf/gpt_kto.yaml
  examples/nlp/gpt/train_gpt_kto.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_kto_model.py
Labels: none

delete unused func
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

add critic logging
  nemo_aligner/algorithms/critic_server_trainer.py
Labels: Algorithms

fix format
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/flask_server.py
  examples/nlp/gpt/mcts_search_worker.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

missing import
  examples/nlp/gpt/train_gpt_ppo_actor.py
Labels: none

logger logic
  examples/mm/stable_diffusion/conf/draftp_sd.yaml
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: none

flask server
  examples/nlp/gpt/flask_server.py
Labels: none

add val dataset
  docs/user-guide/DRaFTP.rst
  examples/mm/stable_diffusion/conf/draftp_sd.yaml
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/data/mm/text_webdataset.py
  nemo_aligner/models/mm/stable_diffusion/image_text_rms.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: documentation

KL term is ongoing.
  nemo_aligner/algorithms/kto.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_kto_model.py
  nemo_aligner/utils/train_utils.py
Labels: Algorithms, Utils

add option to save the cache in cpu
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_generic_search_worker.py
  examples/nlp/gpt/mcts_search.py
  examples/nlp/gpt/mcts_search_worker.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

add option to save the cache in cpu
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_generic_search_worker.py
  examples/nlp/gpt/mcts_search.py
  examples/nlp/gpt/mcts_search_worker.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

commit changes
  nemo_aligner/utils/deep_search/mcts/run.py
Labels: none

commit changes
  nemo_aligner/utils/deep_search/mcts/run.py
Labels: none

log error inference
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

added embedmix
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*
