Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

remove pickle
  examples/nlp/gpt/train_hybrid_model.py
Labels: none

added greedy benchmark
  greedy_benchmark.py
Labels: none

fix bug
  greedy_benchmark.py
Labels: none

add metrics
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix bug
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

hard code seed
  nemo_aligner/data/nlp/builders.py
Labels: none

fix
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix bug in metric
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

edit
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

use value_sm
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

initial commit for lora dpo
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/train_gpt_dpo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
  nemo_aligner/utils/utils.py
Labels: Utils

initial commit: peft for sft
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/train_script_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

Added debug prints
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

more debugging code
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

Fixed earlier bug
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: none

Added configure_batch_sizes call to fix bug
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

Should be RC-1 now
  examples/nlp/gpt/conf/gpt_spin.yaml
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

lora only
  examples/nlp/gpt/conf/gpt_sft.yaml
Labels: none

formatting
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/train_script_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

minor change
  nemo_aligner/utils/utils.py
Labels: Utils

apply fix
  docs/user-guide/SteerLM.rst
Labels: documentation

Added reset batch sizes call for validation as well
  examples/nlp/gpt/conf/gpt_spin.yaml
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

Officially hit RC-1 status
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

Changed spin to use HF jsonl instead of mmap
  examples/nlp/gpt/conf/gpt_spin.yaml
Labels: none

fix
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

change back to 512
  nemo_aligner/utils/trt_llm.py
Labels: Utils

fix bug
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: none

small bug-fix
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Made it so timer doesn't run validation
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

fix
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: none

Changed validation to pure SFT, no generation
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

loss_func redirection
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: none

fix2
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: none

Reset back to doing validation on timer because changed validation to use pure SFT instead
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

big fix
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

fix again
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

add assertion
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

add measurement
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

default to full sft
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
Labels: none
