Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

change names
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

fix the communiction
  examples/nlp/gpt/serve_gpt_infer.py
  nemo_aligner/utils/deep_search/communication_util.py
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/distributed.py
Labels: Utils

refactor to add session
  nemo_aligner/utils/deep_search/forward_only.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
  tests/test_mcts.py
Labels: none

data parallel is working
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

fix the test
  tests/test_mcts.py
Labels: none

rename test
  tests/test_search_db.py
Labels: none

rename search inference
  examples/nlp/gpt/serve_gpt_infer.py
Labels: none

added inference unit test
  tests/test_search_infer.py
Labels: none

cleanup code and support trtllm 0.7
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/ppo_utils.py
  nemo_aligner/utils/trt_llm.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

added hybrid model
  examples/nlp/gpt/conf/gpt_hybrid_infer.yaml
  examples/nlp/gpt/serve_hybrid_model.py
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/utils.py
Labels: Utils

initial revisions
  examples/mm/draft/train_sd_draft.py
  nemo_aligner/algorithms/draft.py
  nemo_aligner/models/mm/draft/alignable_sd_model.py
Labels: Algorithms

fix broadcast
  nemo_aligner/utils/trt_llm.py
Labels: Utils

fix
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
Labels: Algorithms

fix
  nemo_aligner/data/nlp/builders.py
Labels: none

inference working
  examples/nlp/gpt/conf/gpt_hybrid_infer.yaml
  examples/nlp/gpt/serve_hybrid_model.py
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/forward_only.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

value head fix
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
Labels: none

make sure tp pp works
  examples/nlp/gpt/conf/gpt_hybrid_infer.yaml
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

output the value from serve
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/forward_only.py
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

Minor changes for PR review
  CHANGELOG.md
  examples/nlp/gpt/train_gpt_ppo_actor.py
Labels: none

add fix
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: Algorithms

replace draft trainer with supervised
  examples/mm/draft/conf/draft_sd_policy.yaml
  examples/mm/draft/script/launch_draft_workstation.sh
  examples/mm/draft/train_sd_draft.py
  nemo_aligner/models/mm/draft/alignable_sd_model.py
  nemo_aligner/utils/utils.py
Labels: Utils

add commit
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

fix
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: none

move
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: none

add back 2048 attention
  nemo_aligner/utils/trt_llm.py
Labels: Utils

Added epoch being saved down as part of filename for SFT
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/conf/training_rm.yaml
Labels: none

Updated PPO to use a special variant of MegatronPretrainingRandomSampler
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/utils/samplers.py
Labels: Algorithms, Utils

fix
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: none

Intermediate fix for epoch not saving correct number on is_train_end=True
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

fix logprob calc
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

test on highlighting code block
  docs/user-guide/SteerLM.rst
Labels: documentation

adding NeMo Megatron Launcher methods for Step 1, 3, 5
  docs/user-guide/SteerLM.rst
Labels: documentation

adding step 2 for launchers script
  docs/user-guide/SteerLM.rst
Labels: documentation

completing data preparation stage 2
  docs/user-guide/SteerLM.rst
Labels: documentation

test colored text
  docs/user-guide/SteerLM.rst
Labels: documentation

test color light blue text
  docs/user-guide/SteerLM.rst
Labels: documentation

adding _bold_ text for NeMo Megatron Launcher methods for Step 1, 3, 5
  docs/user-guide/SteerLM.rst
Labels: documentation

add dev github action and update contributing guide (#77)
  .github/workflows/sync_branch.yaml
  CONTRIBUTING.md
Labels: CI

test on highlighting code block with span
  docs/user-guide/SteerLM.rst
Labels: documentation

test out adding code block
  docs/user-guide/SteerLM.rst
Labels: documentation
