Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

change to call public str to dtype func
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

change to call public str to dtype func (#94)
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

merge gpt hybrid train properly
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

add
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/train_hybrid_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

show mcts progress
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

clean up
  examples/nlp/gpt/conf/gpt_hybrid_infer.yaml
  examples/nlp/gpt/conf/gpt_inference.yaml
  examples/nlp/gpt/serve_gpt_infer.py
  examples/nlp/gpt/serve_hybrid_model.py
  nemo_aligner/utils/deep_search/communication_util.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

make it longer
  examples/nlp/gpt/conf/gpt_hybrid_infer.yaml
Labels: none

remove state obj
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
  tests/test_search_db.py
  tests/test_search_infer.py
Labels: none

Initial commit of SPIN files
  examples/nlp/gpt/conf/gpt_spin.yaml
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

Minor bug fixes
  examples/nlp/gpt/conf/gpt_spin.yaml
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

can train
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  examples/nlp/gpt/train_hybrid_model.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/train_script_utils.py
Labels: Algorithms, Utils

revert a change
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

fix
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: Algorithms

default
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

fix
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

final
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/run.py
Labels: Algorithms

remove bp
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

memory efficient
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
  tests/test_search_db.py
  tests/test_search_infer.py
Labels: none

fix uni test
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
  tests/test_search_infer.py
Labels: none

fix unit test
  tests/test_search_db.py
Labels: none

fix pre-commit
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

use torch cpu tensor
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

use gpu is faster
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

reformat
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
Labels: none

Minor revisions
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

fix typo
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

fix
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

check in
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

checkin
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

Added SFT data sections to config yaml
  examples/nlp/gpt/conf/gpt_spin.yaml
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/data/nlp/builders.py
Labels: none

no num workers
  nemo_aligner/data/nlp/builders.py
Labels: none

Fixed missing test_dataloader arg
  examples/nlp/gpt/train_gpt_spin.py
Labels: none

Fixed linger cfg pointers
  examples/nlp/gpt/conf/gpt_spin.yaml
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

save the results
  examples/nlp/gpt/train_hybrid_model.py
Labels: none

Fixed more bugs
  examples/nlp/gpt/conf/gpt_spin.yaml
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

Fixed wrong sampling param
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

Fixed generation bug
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

resume
  examples/nlp/gpt/train_hybrid_model.py
Labels: none
