Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

handle observation
  examples/nlp/gpt/grouping.py
Labels: none

fix bug
  examples/nlp/gpt/grouping.py
Labels: none

add
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

added steerlm reward
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/mcts_search_worker.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/reward_functions.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

add raw tempalte and fix score
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

change default port 1234
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

cherry pick fixes from nemo
  Dockerfile
Labels: none

update CHANGELOG.md
  CHANGELOG.md
Labels: none

add option to log images
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/utils/train_script_utils.py
Labels: Algorithms, Utils

fixup! add option to log images
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

remove wandb logger specialization
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: none

change infer signature
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: none

use yi grouping fix
  examples/nlp/gpt/grouping.py
Labels: none

add key validation logging
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: Algorithms

Alit/draft (#110)
  docs/user-guide/DRaFTP.rst
  docs/user-guide/index.rst
  examples/mm/stable_diffusion/conf/draftp_sd.yaml
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/mm/text_webdataset.py
  nemo_aligner/models/mm/stable_diffusion/image_text_rms.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
  nemo_aligner/utils/train_script_utils.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils, documentation

add moe
  nemo_aligner/models/nlp/gpt/gpt_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

add changelog
  CHANGELOG.md
Labels: none

add arg to init
  nemo_aligner/models/nlp/gpt/gpt_reward_model.py
Labels: none

remove extra import
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

upgrade version
  CHANGELOG.md
Labels: none

missing import
  examples/nlp/gpt/train_gpt_ppo_actor.py
Labels: none

Fixes hang observed at the end of the actor training due to pytriton client
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/servers/http_communicator.py
Labels: Servers

Revert "upgrade version"
  CHANGELOG.md
Labels: none

add action masking
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/data/nlp/datasets.py
Labels: none

update nemo and mlm version
  Dockerfile
Labels: none

add moe support in reward model (#139)
  CHANGELOG.md
  nemo_aligner/models/nlp/gpt/gpt_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

add code gen
  examples/nlp/gpt/combine.py
  examples/nlp/gpt/eval_model.py
  examples/nlp/gpt/grouping.py
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

fix bug
  examples/nlp/gpt/combine.py
Labels: none

fix
  examples/nlp/gpt/combine.py
Labels: none

fix
  examples/nlp/gpt/combine.py
Labels: none

fix extra_id_2
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

modify changelog
  CHANGELOG.md
Labels: none

use old grouping
  examples/nlp/gpt/grouping.py
Labels: none

eval model shouldn't drop last
  examples/nlp/gpt/eval_model.py
Labels: none

no drop last
  examples/nlp/gpt/eval_model.py
Labels: none

no drop last on val
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

test
  examples/nlp/gpt/eval_model.py
Labels: none

fix
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

drop last false
  examples/nlp/gpt/eval_model.py
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

Enable LoRA on all layers (#138)
  CHANGELOG.md
  Dockerfile
  examples/nlp/gpt/conf/gpt_sft.yaml
Labels: none

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*
