Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

Clean up metrics logic and pass from config
  examples/nlp/gpt/conf/gpt_sft.yaml
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

Remove dummy DL + handle checkpoint granularity
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Adding a required cherry-picked commit from nemo
  Dockerfile
Labels: none

Precommit
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Update nemo_aligner/metrics/__init__.py
  nemo_aligner/metrics/__init__.py
Labels: none

Fix issues + more cleanups
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: Algorithms

Add notes for implementation
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Add exact string match metric and fix bugs
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/metrics/__init__.py
  nemo_aligner/metrics/common.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

Add model arg to strategy
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

Cleanup
  examples/nlp/gpt/conf/gpt_sft.yaml
  nemo_aligner/metrics/common.py
Labels: none

Running precommit
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

More fixes
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: Algorithms

Precommit
  nemo_aligner/metrics/common.py
Labels: none

add fix for PP reshard hang
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
Labels: Algorithms, Utils

Update ppo.py
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

re-format with tab-item
  docs/user-guide/SteerLM.rst
Labels: documentation

dp search
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

fix function name change from nemo
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

fix small bug
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

add sft with generate
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: Algorithms

add metrics
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

Make scheduler optional
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/utils/train_script_utils.py
Labels: Algorithms, Utils

Pass in inference params to generate
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Working version with a hardcoded metric
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Algorithms, Utils

Clean up metrics logic and pass from config
  examples/nlp/gpt/conf/gpt_sft.yaml
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

Fix issues + more cleanups
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: Algorithms

More fixes
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: Algorithms

Add model arg to strategy
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

Add notes for implementation
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Running precommit
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

Add exact string match metric and fix bugs
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/metrics/__init__.py
  nemo_aligner/metrics/common.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

Remove unused parameters and add include_text to val dl
  examples/nlp/gpt/conf/gpt_sft.yaml
Labels: none

Address comments
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/metrics/common.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

Precommit
  nemo_aligner/metrics/common.py
Labels: none

Remove dummy DL + handle checkpoint granularity
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Addess PR comments
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/metrics/common.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: Algorithms

Update nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Cleanup
  examples/nlp/gpt/conf/gpt_sft.yaml
  nemo_aligner/metrics/common.py
Labels: none

Precommit
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Adding a required cherry-picked commit from nemo
  Dockerfile
Labels: none
