Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

reformat
  examples/nlp/gpt/convert_ckpt_to_nemo.py
  examples/nlp/gpt/serve_gpt_infer.py
  examples/nlp/gpt/serve_gpt_model.py
  nemo_aligner/utils/deep_search/forward_only.py
  nemo_aligner/utils/deep_search/mcts/__init__.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
  tests/test_mcts.py
Labels: none

convert to nemo RM
  examples/mm/draft/script/launch_draft_workstation.sh
  examples/mm/draft/train_sd_draft.py
  nemo_aligner/algorithms/draft.py
  nemo_aligner/models/mm/draft/draft_RMs.py
Labels: Algorithms

update config
  examples/mm/draft/conf/draft_sd_policy.yaml
Labels: none

Add peft LoRA
  examples/mm/draft/conf/draft_sd_policy.yaml
  examples/mm/draft/script/launch_draft_workstation.sh
  examples/mm/draft/train_sd_draft.py
  nemo_aligner/models/mm/draft/alignable_sd_model.py
Labels: none

handle client correctly
  examples/nlp/gpt/serve_gpt_infer.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  tests/test_mcts.py
Labels: none

fix function name change from nemo
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

Updated for PR suggestions
  CHANGELOG.md
  Dockerfile
  README.md
Labels: none

add sft with generate
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: Algorithms

fix small bug
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

add metrics
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

Updated dockerfile to move tags to top
  Dockerfile
Labels: none

Initial commit of multi-epoch
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
Labels: Algorithms

working in progress
  examples/nlp/gpt/conf/gpt_inference.yaml
  examples/nlp/gpt/serve_gpt_infer.py
  nemo_aligner/utils/deep_search/communication_util.py
  nemo_aligner/utils/deep_search/forward_only.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

root working
  examples/nlp/gpt/serve_gpt_infer.py
  nemo_aligner/utils/deep_search/communication_util.py
  nemo_aligner/utils/deep_search/forward_only.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/search_callables.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

efficient inference
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

kv cache for next token is done
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

need to fix strategry for following steps
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

2nd round inference is working
  nemo_aligner/utils/deep_search/forward_only.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

perfomrance optimization
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

fix pipile parallel
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

Last updates for review requests
  Dockerfile
Labels: none

pre-commit format
  examples/mm/draft/train_sd_draft.py
  nemo_aligner/algorithms/draft.py
  nemo_aligner/data/mm/text_webdataset.py
  nemo_aligner/models/mm/draft/alignable_sd_model.py
  nemo_aligner/models/mm/draft/draft_RMs.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

add stable dockerfile
  CHANGELOG.md
  Dockerfile
  README.md
Labels: none

add stable dockerfile (#75)
  CHANGELOG.md
  Dockerfile
  README.md
Labels: none

add workflow for syncing
  .github/workflows/sync_branch.yaml
Labels: CI

add contributing
  CONTRIBUTING.md
Labels: none

fix function name change from nemo (#71)
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

bug fix
  examples/nlp/gpt/conf/gpt_inference.yaml
  nemo_aligner/utils/deep_search/mcts/search_db.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

add dev github action, and update contributing guide
  .github/workflows/sync_branch.yaml
  CONTRIBUTING.md
Labels: CI

add dev github action and update contributing guide (#77)
  .github/workflows/sync_branch.yaml
  CONTRIBUTING.md
Labels: CI

Conservative DPO.
  examples/nlp/gpt/conf/gpt_dpo.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
Labels: none

Identity Preference Optimization
  examples/nlp/gpt/conf/gpt_dpo.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
Labels: none

Kahneman-Tversky Optimization
  examples/nlp/gpt/conf/gpt_dpo.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
Labels: none

Separate loss functions
  examples/nlp/gpt/conf/gpt_dpo.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
Labels: none

Optimized KTO loss
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
Labels: none

session info passed in
  nemo_aligner/utils/deep_search/search_callables.py
Labels: none

fix dolly name to use
  docs/user-guide/RLHF.rst
Labels: documentation

fix dolly name to use (#79)
  docs/user-guide/RLHF.rst
Labels: documentation

fix session handling
  nemo_aligner/utils/deep_search/search_callables.py
Labels: none

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*
