Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

update
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

update
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

support new container, faster inference
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

more efficient logits handling
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

use pad id
  nemo_aligner/utils/deep_search/mcts/search_db.py
Labels: none

fix
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

fix bugs to host model parallel
  nemo_aligner/utils/deep_search/communication_util.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

fix the sharded state dict
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
Labels: none

float
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

string
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

fix unit-test
  tests/test_search_db.py
  tests/test_search_infer.py
Labels: none

convert reward model
  examples/nlp/gpt/convert_ckpt_to_nemo.py
Labels: none

interface change
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
  nemo_aligner/utils/utils.py
Labels: Utils

Update index.rst
  docs/user-guide/index.rst
Labels: documentation

Update SteerLM.rst
  docs/user-guide/SteerLM.rst
Labels: documentation

Update RLHF.rst
  docs/user-guide/RLHF.rst
Labels: documentation

Update index.rst
  docs/user-guide/index.rst
Labels: documentation

Update RLHF.rst
  docs/user-guide/RLHF.rst
Labels: documentation

Update DPO.rst
  docs/user-guide/DPO.rst
Labels: documentation

Update index.rst
  docs/user-guide/index.rst
Labels: documentation

Update SFT.rst
  docs/user-guide/SFT.rst
Labels: documentation

Update index.rst
  docs/user-guide/index.rst
Labels: documentation

Updating Section to fit NeMo Framework User Guide (#121)
  docs/user-guide/DPO.rst
  docs/user-guide/RLHF.rst
  docs/user-guide/SFT.rst
  docs/user-guide/SteerLM.rst
  docs/user-guide/index.rst
Labels: documentation

update
  examples/nlp/gpt/eval_model.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

float
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

fix
  examples/nlp/gpt/eval_model.py
Labels: none

use new template and feedback
  examples/nlp/gpt/mcts_search_worker.py
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

test exact match
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
Labels: none

format only
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/trt_llm.py
  nemo_aligner/utils/utils.py
Labels: Algorithms, Utils

log prob batch
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Update CAI.rst
  docs/user-guide/CAI.rst
Labels: documentation

fix
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

chagne to supervised interface
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: none

use loss
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix crash when val check interval is float in dpo config
  nemo_aligner/algorithms/dpo.py
Labels: Algorithms

update changelog
  CHANGELOG.md
Labels: none

update package info
  nemo_aligner/package_info.py
Labels: none

update package info
  nemo_aligner/package_info.py
Labels: none

fix crash when val check interval is float in dpo config (#124)
  CHANGELOG.md
  nemo_aligner/algorithms/dpo.py
Labels: Algorithms

debug
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms
