Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*

test on highlighting code block with colored text
  docs/user-guide/SteerLM.rst
Labels: documentation

Fix crash when using a separate reward model server in PPO
  CHANGELOG.md
  nemo_aligner/algorithms/critic_server_trainer.py
Labels: Algorithms

Updates to fix PR suggestions
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/conf/training_rm.yaml
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/samplers.py
Labels: Algorithms

Potential fix for pbar issue in PPO
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Fixes for PPO multi-epoch training
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Fix for epoch that may be incorrect when resuming from checkpoint
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Fix crash when using a separate reward model server in PPO (#89)
  CHANGELOG.md
  nemo_aligner/algorithms/critic_server_trainer.py
Labels: Algorithms

Add some debug logs
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/utils/trt_llm.py
Labels: Utils

update SFT chat tutorial(#59)
  docs/user-guide/DPO.rst
  docs/user-guide/RLHF.rst
  docs/user-guide/SFT.rst
  docs/user-guide/index.rst
Labels: documentation

update SFT chat tutorial(#59) (#81)
  docs/user-guide/DPO.rst
  docs/user-guide/RLHF.rst
  docs/user-guide/SFT.rst
  docs/user-guide/index.rst
Labels: documentation

addressing Sahil comments
  examples/mm/draft/train_sd_draft.py
  nemo_aligner/models/mm/draft/image_text_rms.py
  nemo_aligner/utils/utils.py
Labels: Utils

Add extra call to `clear_memory()`
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

mcts working
  examples/nlp/gpt/conf/gpt_hybrid_infer.yaml
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
  nemo_aligner/utils/deep_search/text_generation_strategy.py
Labels: none

Bugfix and extra logs
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Reset code to origin/degert/multi-epochs (5bc268de)
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/samplers.py
Labels: Algorithms

Add extra call to `clear_memory()`
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

cleaning up training script
  examples/mm/draft/conf/draft_sd_policy.yaml
  examples/mm/draft/script/launch_draft_workstation.sh
  examples/mm/draft/train_sd_draft.py
  nemo_aligner/models/mm/draft/alignable_sd_model.py
  nemo_aligner/utils/utils.py
Labels: Utils

Add extra call to `clear_memory()` to fix OOM when sending critic data
  CHANGELOG.md
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

Add debug logs
  nemo_aligner/algorithms/critic_server_trainer.py
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

fix mcts
  nemo_aligner/utils/deep_search/mcts/feedback_functions.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/mcts/termination_condition.py
Labels: none

Add extra call to `clear_memory()` to fix OOM when sending critic data (#91)
  CHANGELOG.md
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

change dockerfile for ci
  Dockerfile
Labels: none

add comment
  Dockerfile
Labels: none

self play is working
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

change dockerfile for ci (#92)
  Dockerfile
Labels: none

fix
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
Labels: Algorithms

Initial commit
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

init weight to zero
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/utils/deep_search/mcts/mcts.py
  nemo_aligner/utils/deep_search/text_gen_utils.py
Labels: none

Pass in inference params to generate
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

add sft with generate
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: Algorithms

Working version with a hardcoded metric
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Algorithms, Utils

fix small bug
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

fix function name change from nemo
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

Make scheduler optional
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/utils/train_script_utils.py
Labels: Algorithms, Utils

add metrics
  nemo_aligner/algorithms/supervised.py
Labels: Algorithms

Update nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: none

Remove unused parameters and add include_text to val dl
  examples/nlp/gpt/conf/gpt_sft.yaml
Labels: none

Address comments
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/metrics/common.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

Addess PR comments
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/metrics/common.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
Labels: Algorithms
