Repository NVIDIA/NeMo-Aligner, changes with the labels that .github/labeler.yml gives for each.
All labels: Algorithms, Data, Utils, Models, Servers, documentation, CI

search balancing
  examples/nlp/gpt/mcts_search.py
Labels: none

fix
  examples/nlp/gpt/train_gpt_sft.py
Labels: none

fix the pipeline parallel
  nemo_aligner/models/nlp/gpt/gpt_hybrid_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

add
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

add better metrics
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

fix
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

fix bug
  examples/nlp/gpt/mcts_search.py
Labels: none

change paths
  examples/mm/draft/conf/draft_sd_policy.yaml
  examples/mm/draft/train_sd_draft.py
  nemo_aligner/models/mm/draft/alignable_sd_model.py
  nemo_aligner/models/mm/draft/image_text_rms.py
Labels: none

fix nemo chagnes
  examples/mm/draft/script/launch_draft_workstation.sh
  nemo_aligner/models/mm/draft/alignable_sd_model.py
  nemo_aligner/models/mm/draft/image_text_rms.py
Labels: none

upgrade version
  CHANGELOG.md
Labels: none

First attempt at implementing iterations
  examples/nlp/gpt/conf/gpt_spin.yaml
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

fix saving
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

forgot to accumulate
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

add critic gbs and fix bug
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

remove shuffling for val
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/data/nlp/builders.py
Labels: none

check val less
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

fix format
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

stop
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

fix optimizer
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

fix name
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
Labels: none

add checkpoint load hack
  examples/nlp/gpt/mcts_search.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: none

fused adam works
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/utils/customized_nlpdpstrategy.py
Labels: Utils

Almost at RC-1
  CHANGELOG.md
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
Labels: Algorithms

Cleaned up some old comments
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

Removed more old comments
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

fix epoch bug
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/utils/trainer_utils.py
Labels: Algorithms, Utils

make scheduler saving work
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/train_script_utils.py
Labels: Algorithms, Utils

mix scheduler and no scheduler
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
  nemo_aligner/utils/train_script_utils.py
Labels: Utils

add moe
  nemo_aligner/models/nlp/gpt/gpt_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
Labels: none

set steps properly
  examples/nlp/gpt/hybrid_model_train.py
Labels: none

fix
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

change template
  examples/nlp/gpt/mcts_search.py
Labels: none

added no oracle case
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

turn off value head
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/utils/deep_search/mcts/mcts.py
Labels: none

first verision
  examples/nlp/gpt/hybrid_model_train.py
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_hybrid_model.py
Labels: Algorithms

fix lr scheduler
  nemo_aligner/algorithms/deepsearch.py
Labels: Algorithms

add epoch saving
  examples/nlp/gpt/conf/gpt_hybrid_train.yaml
  nemo_aligner/algorithms/deepsearch.py
  nemo_aligner/utils/trainer_utils.py
Labels: Algorithms, Utils

init adding dpo
  examples/mm/stable_diffusion/conf/sd_dpo.yaml
  examples/mm/stable_diffusion/launch_dpo_sd.sh
  examples/mm/stable_diffusion/train_sd_dpo.py
  nemo_aligner/models/mm/neva/megatron_neva_ppo_actor_debug.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_dpo_model.py
Labels: none

rename to draft_p
  examples/mm/stable_diffusion/conf/draftp_sd.yaml
  examples/mm/stable_diffusion/script/launch_draftp_workstation.sh
  examples/mm/stable_diffusion/train_sd_draftp.py
  nemo_aligner/algorithms/draft.py
  nemo_aligner/models/mm/stable_diffusion/image_text_rms.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
Labels: Algorithms

remove conflicts
  examples/mm/stable_diffusion/train_sd_draftp.py
Labels: none

.github/labeler.yml:

Algorithms:
- nemo_aligner/algorithms/*

Data:
- nemo_aligner/data/*

Utils:
- nemo_aligner/utils/*

Models:
- nemo_aligner/models/*

Servers:
- nemo_aligner/servers/*

documentation:
- docs/**

CI:
- .github/**/*
