Repository NVIDIA/NeMo-Aligner, pull requests merged in 2023-12, with the labels that each got.

#45 use default codeql
  .github/workflows/codeql.yml
Labels: CI

#52 Geshen/cleanup ci
  .github/labeler.yml
  .github/workflows/config/codeql.yml
Labels: CI

#44 add timer impl
  CHANGELOG.md
  examples/nlp/gpt/train_gpt_dpo.py
  examples/nlp/gpt/train_gpt_ppo_actor.py
  examples/nlp/gpt/train_gpt_sft.py
  examples/nlp/gpt/train_reward_model.py
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/trainer_utils.py
Labels: Utils, Algorithms

#55 overwrite base config attribute
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/conf/inference_rm.yaml
  examples/nlp/gpt/conf/training_rm.yaml
  nemo_aligner/utils/utils.py
Labels: Utils
