Repository NVIDIA/NeMo-Aligner, pull requests merged in 2024-10, with the labels that each got.

#333 fix: serve_reward_model.py no longer errors if pretrained GBS indivisible by parallel state
  examples/nlp/gpt/conf/inference_rm.yaml
Labels: r0.5.0

#335 Cherry pick `fix: serve_reward_model.py no longer errors if pretrained GBS indivisible by parallel state (333)` into `r0.5.0`
  examples/nlp/gpt/conf/inference_rm.yaml
Labels: Run CICD

#308 ci: Run unit tests
  .github/workflows/_run_test.yml
  .github/workflows/cicd-main.yml
  tests/test_cai_utils.py
  tests/test_distributed.py
Labels: CI, Run CICD

#343 ci: Update runner labels
  .github/workflows/_build_container.yml
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#345 docs: Added note about GBS and jsonl samples to DPO tutorial
  docs/user-guide/dpo.rst
Labels: documentation, r0.5.0

#344 Add DPO and PPO presubmit tests
  .github/workflows/_build_container.yml
  .github/workflows/_run_test.yml
  .github/workflows/cicd-main.yml
  .github/workflows/release.yaml
  .gitignore
  tests/functional/dpo.sh
  tests/functional/ppo.sh
  tests/functional/test_cases/dpo-llama3.sh
  tests/functional/test_cases/ppo-pp-llama3.sh
  tests/functional/test_data/dummy-dpo.jsonl
  tests/functional/test_data/synthetic-123.jsonl
  tests/test_distributed.py
Labels: CI, Run CICD

#353 ci: Validate PR title
  .github/workflows/semantic-pull-request.yml
Labels: CI

#347 Cherry pick `docs: Added note about GBS and jsonl samples to DPO tutorial (345)` into `r0.5.0`
  docs/user-guide/dpo.rst
Labels: documentation, Run CICD

#355 ci: Allow building with merge-commit on forks
  .github/workflows/_build_container.yml
  Dockerfile
Labels: CI, Run CICD

#356 ci: re-enables unit tests by marking broken tests and require all tests
  .github/workflows/_run_test.yml
  .github/workflows/cicd-main.yml
  tests/conftest.py
  tests/run_unit.sh
  tests/test_distributed.py
Labels: CI, Run CICD

#352 fix: correct batch tokenization when sequence exceeds encoder length
  nemo_aligner/utils/text_generation_utils.py
  tests/test_text_generation_utils.py
Labels: Utils, Run CICD

#346 docs: 0.5.0 documentation updates
  docs/user-guide/dpo.rst
  docs/user-guide/draftp.rst
  docs/user-guide/modelalignment.rsts
  docs/user-guide/rlhf.rst
  docs/user-guide/rs.rst
  docs/user-guide/sft.rst
  docs/user-guide/spin.rst
  docs/user-guide/steerlm.rst
  docs/user-guide/steerlm2.rst
Labels: documentation, r0.5.0

#366 ci: Sign-off cherry pick
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#365 Cherry pick `docs: 0.5.0 documentation updates (346)` into `r0.5.0`
  docs/user-guide/dpo.rst
  docs/user-guide/draftp.rst
  docs/user-guide/modelalignment.rsts
  docs/user-guide/rlhf.rst
  docs/user-guide/rs.rst
  docs/user-guide/sft.rst
  docs/user-guide/spin.rst
  docs/user-guide/steerlm.rst
  docs/user-guide/steerlm2.rst
Labels: documentation, Run CICD

#367 docs: main readme and sft docs
  README.md
  docs/user-guide/sft.rst
Labels: documentation

#369 docs: fix code block rendering
  docs/user-guide/sft.rst
Labels: documentation, r0.5.0
