Repository NVIDIA/NeMo-Aligner, pull requests merged in 2024-11, with the labels that each got.

#361 feat: update reward model to support scaled and margin BT
  .github/workflows/cicd-main.yml
  CHANGELOG.md
  docs/user-guide/steerlm.rst
  examples/nlp/data/steerlm/preprocess_helpsteer2_data.py
  examples/nlp/gpt/conf/training_rm.yaml
  examples/nlp/gpt/train_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_regression_reward_model.py
  tests/functional/rm.sh
  tests/functional/test_cases/rm-llama3
  tests/functional/test_data/test-rm.jsonl
Labels: documentation, CI, Run CICD

#362 fix: resolve distributed test hangs
  tests/test_distributed.py
Labels: Run CICD

#328 ci: Use Nemo FW templates
  .github/workflows/_build_container.yml
  .github/workflows/cicd-main.yml
  .github/workflows/release-freeze.yml
  .github/workflows/release.yaml
  Dockerfile
Labels: CI, Run CICD

#377 revert: DPO WIP changes that bypassed branch protections
  .github/workflows/cicd-main.yml
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_kto.yaml
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/conf/gpt_ppo_critic.yaml
  examples/nlp/gpt/conf/gpt_rs_actor.yaml
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/conf/gpt_spin.yaml
  examples/nlp/gpt/conf/training_rm.yaml
  examples/nlp/gpt/train_gpt_dpo.py
  nemo_aligner/algorithms/critic_server_trainer.py
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/algorithms/rs.py
  nemo_aligner/algorithms/spin.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/utils/train_utils.py
  pyproject.toml
  tests/functional/dpo.sh
  tests/functional/test_cases/dpo-mixtral-ep.sh
  tests/functional/test_cases/dpo-mixtral-sp.sh
  tests/test_datasets.py
Labels: Utils, CI, Algorithms

#373 ci: Add a functional test for SFT
  .github/workflows/cicd-main.yml
  tests/functional/sft.sh
  tests/functional/test_cases/sft-llama3
  tests/functional/test_data/dummy-sft.jsonl
Labels: CI, Run CICD

#348 feat: add knowledge distillation support for SFT
  .github/workflows/cicd-main.yml
  CHANGELOG.md
  docs/user-guide/knowledge-distillation.rst
  examples/nlp/gpt/conf/gpt_knowledge_distillation.yaml
  examples/nlp/gpt/train_gpt_knowledge_distillation.py
  examples/nlp/synthetic_data_gen/compute_topk_logits.py
  examples/nlp/synthetic_data_gen/conf/compute_topk_logits.yaml
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_knowledge_distillation.py
  nemo_aligner/utils/distributed.py
  tests/functional/kd.sh
  tests/functional/test_cases/kd-llama3
  tests/functional/test_data/synthetic-kd.jsonl
  tests/test_distributed.py
Labels: documentation, Utils, CI, Run CICD

#379 ci: minor improvements to functional tests
  tests/functional/dpo.sh
  tests/functional/ppo.sh
  tests/functional/rm.sh
  tests/functional/sft.sh
Labels: Run CICD

#378 ci(feat): Add copyright check
  .github/workflows/copyright-check.yml
Labels: CI, Run CICD

#387 feat: adds helper script for running & summarizing functional tests
  tests/functional/run_all.sh
Labels: Run CICD

#402 docs: add a link to NeMo's known issues page
  docs/user-guide/cai.rst
  docs/user-guide/dpo.rst
  docs/user-guide/draftp.rst
  docs/user-guide/knowledge-distillation.rst
  docs/user-guide/modelalignment.rsts
  docs/user-guide/rlhf.rst
  docs/user-guide/rs.rst
  docs/user-guide/sft.rst
  docs/user-guide/spin.rst
  docs/user-guide/steerlm.rst
Labels: documentation, r0.5.0

#388 chore: adds missing license header on tests and corrects file modes
  tests/functional/dpo.sh
  tests/functional/ppo.sh
  tests/functional/rm.sh
  tests/functional/sft.sh
  tests/functional/test_cases/ppo-llama3-pp2-reshard
  tests/functional/test_cases/rm-llama3
  tests/functional/test_cases/sft-llama3
Labels: Run CICD

#406 ci: Fix cherry pick workflow
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI, r0.5.0

#401 chore: Add `devN` to semver
  nemo_aligner/package_info.py
Labels: Run CICD

#383 ci: Build, test, and publish a wheel
  .github/workflows/build-test-publish-wheel.yml
Labels: CI, Run CICD

#408 ci: Move `semantic-pr` into templates repo
  .github/workflows/semantic-pull-request.yml
Labels: CI

#399 feat: TRTLLM API handle tokenizers without pad_id (e.g., tiktoken)
  nemo_aligner/utils/trt_llm.py
Labels: Utils, Run CICD

#410 fix: Update PTL import
  Dockerfile
  examples/nlp/gpt/serve_reward_model.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_critic.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_kto_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_regression_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_rs_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
  nemo_aligner/utils/train_script_utils.py
  setup/requirements.txt
  tests/conftest.py
Labels: Utils, Run CICD

#357 feat: adds REINFORCE algorithm
  .github/workflows/cicd-main.yml
  CHANGELOG.md
  README.md
  docs/user-guide/reinforce.rst
  examples/nlp/gpt/conf/gpt_reinforce_actor.yaml
  examples/nlp/gpt/train_gpt_reinforce_actor.py
  nemo_aligner/algorithms/reinforce.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reinforce_actor.py
  nemo_aligner/utils/ppo_utils.py
  tests/functional/reinforce.sh
  tests/functional/test_cases/reinforce-llama3-pp2-reshard
  tests/test_ppo_utils.py
Labels: documentation, Utils, CI, Algorithms, Run CICD

#421 ci: Allow dry-run of release
  .github/workflows/release.yaml
Labels: CI
