Repository NVIDIA/NeMo-Aligner, pull requests merged in 2024-01, with the labels that each got.

#77 add dev github action, and update contributing guide
  .github/workflows/sync_branch.yaml
  CONTRIBUTING.md
Labels: CI

#79 fix dolly name to use
  docs/user-guide/RLHF.rst
Labels: documentation

#89 Fix crash when using a separate reward model server in PPO
  CHANGELOG.md
  nemo_aligner/algorithms/critic_server_trainer.py
Labels: Algorithms

#81 update SFT chat tutorial(#59)
  docs/user-guide/DPO.rst
  docs/user-guide/RLHF.rst
  docs/user-guide/SFT.rst
  docs/user-guide/index.rst
Labels: documentation

#91 Add extra call to `clear_memory()` to fix OOM when sending critic data
  CHANGELOG.md
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

#82 Integrating custom metrics and inference parameters
  CHANGELOG.md
  Dockerfile
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/metrics/__init__.py
  nemo_aligner/metrics/common.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/utils/train_script_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils, Algorithms

#19 Fix computation of response length in the general case
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/text_generation_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

#73 Multi-Epoch Training
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/conf/training_rm.yaml
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/ppo.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/data/nlp/samplers.py
  nemo_aligner/utils/trainer_utils.py
Labels: Utils, Algorithms
