Repository NVIDIA/NeMo-Aligner, pull requests merged in 2024-04, with the labels that each got.

#142 Enable LoRA for DPO
  CHANGELOG.md
  docs/user-guide/DPO.rst
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/train_gpt_dpo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
  nemo_aligner/utils/utils.py
Labels: documentation, Utils

#156 fix confusion on checkpoint to use
  docs/user-guide/RLHF.rst
Labels: documentation

#157 Geshen/fix docs
  docs/user-guide/SFT.rst
Labels: documentation

#149 trtllm0.9 changes
  examples/nlp/gpt/conf/gpt_ppo_actor.yaml
  nemo_aligner/algorithms/critic_server_trainer.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
Labels: Utils, Algorithms

#163 pin the seq length of dataset to the model
  CHANGELOG.md
  docs/user-guide/SFT.rst
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/conf/gpt_spin.yaml
Labels: documentation
