Repository NVIDIA/NeMo-Aligner, pull requests merged in 2024-07, with the labels that each got.

#200 Communicator hang fix in the actor loop
  examples/nlp/gpt/train_gpt_ppo_actor.py
  nemo_aligner/servers/http_communicator.py
Labels: Servers

#195 Implement the reward aware preference optimization algorithms.
  CHANGELOG.md
  docs/user-guide/dpo.rst
  examples/nlp/gpt/conf/gpt_dpo.yaml
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
Labels: documentation, Algorithms

#154 Constitutional AI: Harmlessness from AI Feedback
  docs/assets/cai_diagram.png
  docs/assets/cai_flow.png
  docs/user-guide/cai.rst
  docs/user-guide/index.rst
  examples/nlp/cai/CritiqueRevisionInstructions.json
  examples/nlp/cai/cai_utils.py
  examples/nlp/cai/conf/inference_service.yaml
  examples/nlp/cai/few_shot_samples_example.json
  examples/nlp/cai/generate_rl_cai_dataset.py
  examples/nlp/cai/generate_sl_cai_dataset.py
  examples/nlp/cai/process_anthropic_hh_using_chat_prompt.py
  examples/nlp/cai/sys_prompt_constitution
  tests/test_cai_utils.py
Labels: documentation

#222 Draft+ for SDXL [draft]
  examples/mm/stable_diffusion/conf/draftp_sdxl.yaml
  examples/mm/stable_diffusion/train_sd_draftp.py
  examples/mm/stable_diffusion/train_sdxl_draftp.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sdxl_draftp_model.py
  nemo_aligner/utils/train_script_utils.py
Labels: Utils, Algorithms

#234 Avoids crash in PPOTrainer if using adafactor w/o learning rate
  nemo_aligner/algorithms/ppo.py
Labels: Algorithms

#232 Raise exceptions if using trtllm and use_Greedy in sampling params is set but temperature/topk are not correct for greedy
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
Labels: Utils, Algorithms

#235 Fixed minor float check bug in compute_num_steps_per_epoch
  nemo_aligner/utils/trainer_utils.py
Labels: Utils

#238 Update the hash of the conversion script to include TE fix for mcore conversion
  docs/user-guide/sft.rst
Labels: documentation

#240 Update the hash of the conversion script to include TE fix for mcore conversion
  docs/user-guide/sft.rst
Labels: documentation

#226 fix model path sft
  docs/user-guide/sft.rst
Labels: documentation

#245 Addresses documentation bugs
  docs/user-guide/rlhf.rst
  nemo_aligner/package_info.py
Labels: documentation

#244 Addresses documentation bugs
  docs/user-guide/rlhf.rst
  nemo_aligner/package_info.py
Labels: documentation

#242 Updates microbatch APIs to use megatron's instead of apex's
  CHANGELOG.md
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sdxl_draftp_model.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_critic.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_regression_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
  nemo_aligner/utils/train_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils

#241 Updates microbatch APIs to use megatron's instead of apex's
  CHANGELOG.md
  nemo_aligner/models/mm/stable_diffusion/megatron_sd_draftp_model.py
  nemo_aligner/models/mm/stable_diffusion/megatron_sdxl_draftp_model.py
  nemo_aligner/models/nlp/gpt/gpt_sft_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_critic.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_regression_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
  nemo_aligner/utils/train_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils
