Repository NVIDIA/NeMo-Aligner, pull requests merged in 2024-03, with the labels that each got.

#118 fix typo
  docs/user-guide/RLHF.rst
Labels: documentation

#116 Dev
  CHANGELOG.md
  Dockerfile
  nemo_aligner/models/nlp/gpt/megatron_gpt_reward_model.py
  nemo_aligner/package_info.py
  nemo_aligner/utils/train_utils.py
Labels: Utils

#120 fix dpo val check interval
  CHANGELOG.md
  nemo_aligner/algorithms/dpo.py
Labels: Algorithms

#108 SPIN Algorithm
  CHANGELOG.md
  docs/user-guide/SPIN.rst
  docs/user-guide/index.rst
  examples/nlp/gpt/conf/gpt_spin.yaml
  examples/nlp/gpt/train_gpt_spin.py
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_spin_model.py
  nemo_aligner/utils/utils.py
Labels: documentation, Utils, Algorithms

#121 Updating Section to fit NeMo Framework User Guide
  docs/user-guide/DPO.rst
  docs/user-guide/RLHF.rst
  docs/user-guide/SFT.rst
  docs/user-guide/SteerLM.rst
  docs/user-guide/index.rst
Labels: documentation

#126 update docs to link to conversion scripts
  docs/user-guide/SFT.rst
Labels: documentation

#128 rename checkpoint convert scripts
  docs/user-guide/DPO.rst
  docs/user-guide/SFT.rst
  docs/user-guide/SPIN.rst
  docs/user-guide/SteerLM.rst
Labels: documentation

#129 SPIN bug fix for prompt lengths being greater than generation.max_length
  CHANGELOG.md
  nemo_aligner/algorithms/spin.py
Labels: Algorithms

#134 Streamlines the augment_dataloader method in DPO
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
Labels: Algorithms
