Repository NVIDIA/NeMo-Aligner, pull requests merged in 2024-12, with the labels that each got.

#427 fix: correct REINFORCE to resume training
  nemo_aligner/utils/train_script_utils.py
Labels: Utils, Run CICD

#405 feat: support new DPO data format and update SFT config to use override API
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_gpt_sft.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/data/nlp/scripts/undo_special_tokens.py
  setup/requirements.txt
  tests/test_datasets.py
Labels: Run CICD

#429 feat: add sft preprocessing script
  examples/nlp/data/sft/remove_long_dialogues.py
Labels: Run CICD

#434 docs: fix KD doc rendering
  docs/user-guide/knowledge-distillation.rst
Labels: documentation

#412 feat: Add support for loading NeMo 2.0 checkpoints
  .github/workflows/_run_test.yml
  .github/workflows/cicd-main.yml
  Dockerfile
  nemo_aligner/utils/utils.py
  tests/functional/dpo.sh
  tests/functional/test_cases/dpo-llama3
  tests/functional/test_cases/e2e-nemo2
Labels: Utils, CI, Run CICD

#437 fix: fix DPO sequence packing + pipeline parallel
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
Labels: Run CICD

#428 docs: add eval documentation
  docs/user-guide/aligner-algo-header.rst
  docs/user-guide/evaluation.rst
  examples/nlp/data/sft/remove_long_dialogues.py
Labels: documentation

#442 fix: resolve more pytorch lightning import bugs (kd/reinforce)
  nemo_aligner/models/nlp/gpt/megatron_gpt_knowledge_distillation.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_reinforce_actor.py
Labels: Run CICD

#443 fix: bug fix for KD + PP
  nemo_aligner/models/nlp/gpt/megatron_gpt_knowledge_distillation.py
  tests/functional/kd.sh
Labels: Run CICD

#447 docs: add more details on CP + SFT support
  CHANGELOG.md
Labels: Run CICD

#449 docs: fix typo PRETRAINED_ACTOR_NEMO_FILE -> ACTOR_NEMO_FILE
  docs/user-guide/reinforce.rst
Labels: documentation, Run CICD

#452 docs: fix minor typo
  docs/user-guide/dpo.rst
Labels: documentation, Run CICD

#445 ci: Bump release worflow
  .github/workflows/release-freeze.yml
  .github/workflows/release.yaml
Labels: CI, Run CICD

#455 ci: Add final status check
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#460 docs: add llama download command
  docs/user-guide/dpo.rst
Labels: documentation, Skip CICD

#462 docs: fix reinforce and ppo to specify mpirun requirement
  docs/user-guide/reinforce.rst
  docs/user-guide/rlhf.rst
Labels: documentation

#463 ci: Use `github.sha` for build
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#464 ci: Run on `main`
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#461 chore: sync main to dev
  .github/workflows/cicd-main.yml
  .github/workflows/release-freeze.yml
  .github/workflows/release.yaml
  docs/user-guide/dpo.rst
  docs/user-guide/reinforce.rst
  docs/user-guide/rlhf.rst
Labels: documentation, CI, Run CICD, r0.6.0

#466 ci: Bump release workflow
  .github/workflows/release.yaml
Labels: CI

#469 ci: Bump release workflow
  .github/workflows/release.yaml
Labels: CI

#465 chore: Cherry-pick docs into `r0.6.0`
  docs/user-guide/dpo.rst
  docs/user-guide/reinforce.rst
  docs/user-guide/rlhf.rst
Labels: documentation
