Repository NVIDIA/NeMo-Aligner, pull requests merged in 2024-09, with the labels that each got.

#277 Add 405B numbers to readme
  docs/user-guide/rlhf.rst
Labels: documentation

#275 Add sequence packing support for SFTPackedDataset
  CHANGELOG.md
  docs/user-guide/sft.rst
  nemo_aligner/data/nlp/builders.py
Labels: documentation

#285 ci: Add build job
  .github/workflows/cicd-main.yml
  Dockerfile
Labels: CI, Run CICD

#292 ci: Allow running on main
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD

#302 ci: Add code-freeze automation
  .github/workflows/release-freeze.yml
Labels: CI

#307 ci: Use choice for code-freeze
  .github/workflows/release-freeze.yml
Labels: CI

#282 ci: Release automation
  .github/workflows/_build_container.yml
  .github/workflows/cicd-main.yml
  .github/workflows/release.yaml
  MANIFEST.in
Labels: CI, Run CICD

#309 ci: Add cherry pick automation
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#289 fix: update the changelog in preparation for 24.09
  CHANGELOG.md
Labels: r0.5.0

#290 feat: update dockerfile to allow incremental builds and change TRTLLM error to point to dockerfile
  Dockerfile
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
Labels: Utils, r0.5.0

#288 fix: pad_id=None in tokenizer no longer errors for TRTLLM generation
  nemo_aligner/utils/trt_llm.py
Labels: Utils, r0.5.0

#315 ci: Wrap into quotes
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

#312 Cherry pick `fix: pad_id=None in tokenizer no longer errors for TRTLLM generation (288)` into `r0.5.0`
  nemo_aligner/utils/trt_llm.py
Labels: Utils, Run CICD

#313 Cherry pick `feat: update dockerfile to allow incremental builds and change TRTLLM error to point to dockerfile (290)` into `r0.5.0`
  Dockerfile
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
Labels: Utils, Run CICD

#314 Cherry pick `fix: update the changelog in preparation for 24.09 (289)` into `r0.5.0`
  CHANGELOG.md
Labels: Run CICD

#316 build: Optimize caching
  Dockerfile
Labels: Run CICD, r0.5.0

#323 fix: Dockerfile now correctly updates aligner in incremental aligner-bump target
  Dockerfile
Labels: r0.5.0

#322 docs: Fixes performance table for rlhf
  docs/user-guide/rlhf.rst
Labels: documentation, r0.5.0

#325 Cherry pick `docs: Fixes performance table for rlhf (322)` into `r0.5.0`
  docs/user-guide/rlhf.rst
Labels: documentation, Run CICD

#324 Cherry pick `fix: Dockerfile now correctly updates aligner in incremental aligner-bump target (323)` into `r0.5.0`
  Dockerfile
Labels: Run CICD

#319 docs: Add sidebar headings for RPO/IPO/DPO with LoRA
  docs/user-guide/dpo.rst
  docs/user-guide/index.rst
Labels: documentation, r0.5.0

#326 Cherry pick `docs: Add sidebar headings for RPO/IPO/DPO with LoRA (319)` into `r0.5.0`
  docs/user-guide/dpo.rst
  docs/user-guide/index.rst
Labels: documentation, Run CICD

#218 feat: Adds Rejection Sampling Algorithm
  CHANGELOG.md
  Dockerfile
  README.md
  docs/README.md
  docs/user-guide/index.rst
  docs/user-guide/rs.rst
  examples/nlp/gpt/conf/gpt_rs_actor.yaml
  examples/nlp/gpt/train_gpt_rs_actor.py
  nemo_aligner/algorithms/rs.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_rs_actor.py
  nemo_aligner/models/nlp/gpt/reward_critic_clients.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/ppo_utils.py
Labels: documentation, Utils, Algorithms, r0.5.0

#329 Cherry pick feat: Adds Rejection Sampling Algorithm
  CHANGELOG.md
  Dockerfile
  README.md
  docs/README.md
  docs/user-guide/index.rst
  docs/user-guide/rs.rst
  examples/nlp/gpt/conf/gpt_rs_actor.yaml
  examples/nlp/gpt/train_gpt_rs_actor.py
  nemo_aligner/algorithms/rs.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_rs_actor.py
  nemo_aligner/models/nlp/gpt/reward_critic_clients.py
  nemo_aligner/utils/distributed.py
  nemo_aligner/utils/ppo_utils.py
Labels: documentation, Utils, Algorithms
