Repository NVIDIA/NeMo-Aligner, pull requests merged in 2024-06, with the labels that each got.

#196 Small improvements in RM docs
  docs/user-guide/RLHF.rst
Labels: documentation

#191 SteerLM 2.0
  CHANGELOG.md
  docs/user-guide/SteerLM2.rst
  docs/user-guide/index.rst
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/train_steerlm2.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/models/nlp/gpt/gpt_steerlm_model.py
Labels: documentation

#204 Flattening URLs to adhere to best practices.
  docs/user-guide/dpo.rst
  docs/user-guide/draftp.rst
  docs/user-guide/index.rst
  docs/user-guide/modelalignment.rsts
  docs/user-guide/rlhf.rst
  docs/user-guide/sft.rst
  docs/user-guide/spin.rst
  docs/user-guide/steerlm.rst
  docs/user-guide/steerlm2.rst
Labels: documentation

#211 add nemotron 4 in docs
  docs/user-guide/sft.rst
Labels: documentation

#215 add fix for missing extra state in rm
  docs/user-guide/sft.rst
Labels: documentation

#202 Added support for float values for val_check_interval to SFT
  CHANGELOG.md
  examples/nlp/gpt/conf/gpt_dpo.yaml
  examples/nlp/gpt/conf/gpt_sft.yaml
  examples/nlp/gpt/conf/gpt_spin.yaml
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/algorithms/spin.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/utils/trainer_utils.py
Labels: Utils, Algorithms

#220 pull changes from degert/spin-trt-beta
  examples/nlp/gpt/conf/gpt_spin.yaml
  nemo_aligner/algorithms/spin.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_ppo_actor.py
  nemo_aligner/utils/trt_llm.py
Labels: Utils, Algorithms

#221 SPIN: Added logging for avg generation length and generated responses as wandb table
  CHANGELOG.md
  nemo_aligner/algorithms/spin.py
Labels: Algorithms
