Repository NVIDIA/NeMo-Aligner, pull requests merged in 2025-02, with the labels that each got.

#503 docs: fix code block for install
  docs/user-guide/nemoaligner.rsts
Labels: documentation, Skip CICD

#505 fix(25.02): fixes for 25.02 state
  tests/functional/dpo.sh
  tests/functional/kd.sh
  tests/functional/ppo.sh
  tests/functional/reinforce.sh
  tests/functional/rm.sh
  tests/functional/sft.sh
  tests/run_mpi_unit.sh
Labels: Run CICD

#504 feat: add context parallel support for DPO
  CHANGELOG.md
  examples/nlp/data/dpo/prepare_packed_dpo_dataset.py
  examples/nlp/gpt/train_gpt_dpo.py
  nemo_aligner/algorithms/dpo.py
  nemo_aligner/data/nlp/datasets.py
  nemo_aligner/data/nlp/tests/datasets_test.py
  nemo_aligner/models/nlp/gpt/megatron_gpt_dpo_model.py
  tests/functional/test_cases/dpo-llama3
  tests/functional/test_cases/dpo-llama3-pack
Labels: Algorithms, Run CICD

#508 chore: update package info for 0.7.0
  nemo_aligner/package_info.py
Labels: Run CICD

#509 ci: Add code-freeze dry-run
  .github/workflows/release-freeze.yml
Labels: CI

#512 fix: Fixes for mcore distributed optimizer
  CHANGELOG.md
  nemo_aligner/utils/train_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils, r0.7.0

#515 ci: Cherry-pick from `dev`
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI, Skip CICD

#516 fix(cherry-pick): Fixes for mcore distributed optimizer (#512)
  CHANGELOG.md
  nemo_aligner/utils/train_utils.py
  nemo_aligner/utils/utils.py
Labels: Utils, Run CICD

#517 ci: update workflows (#514)
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/release-freeze.yml
  .github/workflows/release.yaml
  nemo_aligner/__init__.py
  setup/requirements.txt
Labels: CI

#520 ci: Fix cherry-pick workflow
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI, Skip CICD

#521 ci: Bump build workflow
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD, Skip CICD

#522 docs: add documentation for EP and uncomment EP test
  .github/workflows/cicd-main.yml
  CHANGELOG.md
Labels: documentation, CI, Run CICD, r0.7.0

#524 docs: Fix broken sequence packing hyperlinks
  docs/user-guide/sft.rst
Labels: documentation, Skip CICD, r0.7.0

#519 docs: Add FP8 documentation
  docs/user-guide/general.rst
  docs/user-guide/index.rst
Labels: documentation, Skip CICD
