Repository NVIDIA/NeMo-Aligner, pull requests merged in 2025-03, with the labels that each got.

#525 docs: fix container pointer to 24.12
  README.md
  docs/user-guide/nemoaligner.rsts
Labels: Skip CICD, r0.6.0

#530 docs: Add changelog for 0.7.0
  CHANGELOG.md
Labels: Skip CICD, r0.7.0

#528 feat: enable reward model training with multiple validation datasets
  CHANGELOG.md
  examples/nlp/gpt/conf/training_rm.yaml
  examples/nlp/gpt/train_reward_model.py
  nemo_aligner/algorithms/supervised.py
  nemo_aligner/data/nlp/builders.py
Labels: Algorithms, Run CICD

#534 ci: Disable changed-files github action
  .github/workflows/cicd-main.yml
Labels: CI, Run CICD
