Repository NVIDIA/NeMo-Aligner, pull requests merged in 2025-01, with the labels that each got.

#471 ci: Update release.yaml
  .github/workflows/release.yaml
Labels: CI, Skip CICD

#472 chore: Update package_info.py
  nemo_aligner/package_info.py
Labels: Skip CICD

#474 fix: Generate version number
  nemo_aligner/package_info.py
Labels: Skip CICD, r0.6.0

#475 Cherry pick `fix: Generate version number (474)` into `r0.6.0`
  nemo_aligner/package_info.py
Labels: Run CICD, cherry-pick

#477 ci: Update release.yaml
  .github/workflows/release.yaml
Labels: CI

#478 docs: Update CHANGELOG.md
  CHANGELOG.md
Labels: Skip CICD, r0.6.0

#482 fix: dev segment in version specifier joined properly
  nemo_aligner/package_info.py
Labels: Run CICD

#486 fix: session start fixture correctly handles being launched by mpirun
  tests/conftest.py
Labels: Run CICD

#485 fix: pynvml is pinned when using TRTLLM v13 due to breaking change in 12.0.0
  Dockerfile
  setup/requirements.txt
Labels: Run CICD

#433 feat: introducing the `experimental` package and refactoring test structure
  conftest.py
  docs/user-guide-experimental/README.md
  nemo_aligner/data/nlp/tests/__init__.py
  nemo_aligner/data/nlp/tests/cai_utils_test.py
  nemo_aligner/data/nlp/tests/datasets_test.py
  nemo_aligner/experimental/README.md
  nemo_aligner/experimental/__init__.py
  nemo_aligner/testing/utils.py
  nemo_aligner/utils/tests/__init__.py
  nemo_aligner/utils/tests/distributed_test.py
  nemo_aligner/utils/tests/ppo_utils_test.py
  nemo_aligner/utils/tests/text_generation_utils_test.py
  nemo_aligner/utils/tests/trainer_utils_test.py
  nemo_aligner/utils/tests/trt_llm_test.py
  nemo_aligner/utils/tests/utils_test.py
  tests/functional_experimental/README.md
  tests/functional_experimental/test_cases/.gitkeep
  tests/functional_experimental/test_data/.gitkeep
  tests/run_mpi_unit.sh
  tests/run_unit.sh
Labels: documentation, Run CICD

#491 docs: fix linking of reinforce from index and add it to support table
  docs/user-guide/index.rst
  docs/user-guide/reinforce.rst
Labels: documentation, Skip CICD

#493 fix: Add triton downgrade as long as we're on pytorch 24.07
  Dockerfile
Labels: Run CICD

#489 docs: fix linking of reinforce from index and add it to support table
  docs/user-guide/index.rst
  docs/user-guide/reinforce.rst
Labels: documentation, Skip CICD

#468 ci: Properly enable merge-queue
  .github/workflows/cicd-main.yml
Labels: CI, Skip CICD

#492 chore: (manually) merge main into dev
  .github/workflows/cicd-main.yml
  .github/workflows/release.yaml
  Dockerfile
  conftest.py
  docs/user-guide-experimental/README.md
  docs/user-guide/index.rst
  docs/user-guide/reinforce.rst
  nemo_aligner/data/nlp/tests/__init__.py
  nemo_aligner/data/nlp/tests/cai_utils_test.py
  nemo_aligner/data/nlp/tests/datasets_test.py
  nemo_aligner/experimental/README.md
  nemo_aligner/experimental/__init__.py
  nemo_aligner/testing/utils.py
  nemo_aligner/utils/tests/__init__.py
  nemo_aligner/utils/tests/distributed_test.py
  nemo_aligner/utils/tests/ppo_utils_test.py
  nemo_aligner/utils/tests/text_generation_utils_test.py
  nemo_aligner/utils/tests/trainer_utils_test.py
  nemo_aligner/utils/tests/trt_llm_test.py
  nemo_aligner/utils/tests/utils_test.py
  setup/requirements.txt
  tests/functional_experimental/README.md
  tests/functional_experimental/test_cases/.gitkeep
  tests/functional_experimental/test_data/.gitkeep
  tests/run_mpi_unit.sh
  tests/run_unit.sh
Labels: documentation, CI, Run CICD
